*{
    padding: 0px;
    margin: 0px;
}

html, body {
    font-family: 'Barlow', sans-serif;
    background: #F3F5F9;
    margin: 0px 8px;
}

img{
    width: 100%;
    margin: 0px auto;
}

header{
    padding: 50px 0px 0px 0px;
    text-align: center;
}

header img{
    max-width: 600px;
}

section{
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

section img{
    border-radius: 20px;
    margin: 0px auto;
}

section img.values{
    max-width: 600px;
    margin: 30px 0px;
}

h1{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: -1px;
}


@media  (max-width: 600px) {
    h1{
        font-size: 2.6rem;
        margin-bottom: 30px;
    }
}
    
    

p {
    font-size: 20px;
    margin-bottom: 20px;
}

.primary{
    color: #0091FF;
}

.kontakt{
    padding: 50px 0px;
    text-align: left;
    align-items: flex-start;

}

h2{
    margin-bottom: 20px;
}

p{
    font-weight: 400;
}

footer{
    padding: 50px 0px;
    text-align: center;
}